%h1 Edit News Post

= error_messages_for :post

- form_for(:post, :url => object_url, :html => { :method => :put }) do |f|
  = render :partial => "form", :locals => {:f => f}
  %p.buttons= f.submit "Update"

- if authorised?
  %ul.admin_links
    %li= link_to 'Show', object_path
    %li= link_to 'Back', objects_path
