%h1= h current_object.title

%div.body= current_object.body

- if authorised?
  %ul.admin_links
    %li= link_to 'Edit', edit_object_path
    %li= link_to 'Delete', object_path, :confirm => 'Really delete post?', :method => :delete
    %li= link_to 'Back', objects_path
